Content/Cardience/CardienceCharacters/Goat/GoatAttackAnimFinalFbx.uasset filter=lfs diff=lfs merge=lfs -text
Content/Cardience/CardienceCharacters/Goat/GoatIdleFbxFinal.uasset filter=lfs diff=lfs merge=lfs -text
Content/Cardience/CardienceCharacters/Goat/GoatRunAnimFBXFinal__1_.uasset filter=lfs diff=lfs merge=lfs -text
Content/Cardience/CardienceCharacters/Goat/GoatTakeAnimFbxFinal.uasset filter=lfs diff=lfs merge=lfs -text
Content/Cardience/CardienceCharacters/Goat/GoatTakeAnimFbxFinal.uasset filter=lfs diff=lfs merge=lfs -text
